.newsletter-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

@media only screen and (max-width:600px) {

    .newsletter-container {

        grid-template-columns: 1fr;
    }

}